*{
	color: #666;
	font-family: 'Muli', sans-serif;
}
a, a:hover{
	color: darkred;
}
html{
	font-size: 16px;
}

body{
	padding-top: 0;
	height: 100%;
}

header{
	margin-top: 1rem;
}
footer{
	margin-bottom: 1em;
}
h1{
/* 	margin-bottom: 1em; */
	font-size: 3rem;
}
h1.front-title{
	margin-top: 0;
}
.page-heading.posts{
	font-size: 1.5rem;
}

p{
	font-size: 1rem;
	line-height: 1.5rem;
}
.lead{
	margin-bottom: 2em;
}

.glasses{
	width: 320px;
	height: 213px;
}
.site-title{
	font-size: 1.5rem;
	background-color: #666;
	color: #fff;
	border-radius: 10px;
	border: none;
}
.site-title:hover,
.site-title:focus{
	color: #fff;
	background-color: darkred;
	border: none;
}
body.front .site-title{
	display: none;
}
body.front .main-content .btn-default{
	margin-top: 1rem;
}
body.front header .selfie{
	display: none;
}
.nowrap{
	white-space: nowrap;
}

.main-content{
	margin-bottom: 2rem;
}

.services-links .link{
	padding-bottom: 1em;
}

.news{
	margin: 1em 0 1em 0;
}

.selfie{
	max-width: 100%;
	height: auto;
/* 	border: 2px solid lightgray; */
}
header .selfie{
	max-width: 120px;
}
.rss-subscribe a,
.back-to-posts{
	font-size: .5rem;
	margin-top: 1rem;
}

.post-list .post-link{
	font-size: 1.25rem;
}