<footer>
	<div class="container">
		<div class="row"><div class="col-xs-12 small">How to connect with me: </div></div>
		<div class="row">
			<div class="btn-group col-xs-12">	
		          <a  class="btn btn-default btn-sm" href="//facebook.com/qsupplee" target="_blank" title="Pictures of my kids, mostly"><span class="fa fa-facebook" aria-hidden="true"></i> <span class="hidden-xs">Facebook</span></a>
		          <a class="btn btn-default btn-sm" href="//twitter.com/quinns" target="_blank" title="Just random tech retweets"><span class="fa fa-twitter" aria-hidden="true"></i> <span class="hidden-xs">Twitter</span></a>
		          <a class="btn btn-default btn-sm" href="//github.com/quinns" target="_blank" title="A tiny fraction of my code output"><span class="fa fa-github" aria-hidden="true"></i> <span class="hidden-xs">Github</span></a>
		          <a class="btn btn-default btn-sm" href="//www.linkedin.com/in/quinnsupplee" target="_blank" title="People like to endorse me for web stuff"><span class="fa fa-linkedin" aria-hidden="true"></i> <span class="hidden-xs">LinkedIn</span></a>
		           <a class="btn btn-default btn-sm" href="//instagram.com/quinn" target="_blank" title="I hope you like black-and-white photography"><span class="fa fa-instagram" aria-hidden="true"></i> <span class="hidden-xs">Instagram</span></a>
		          <a class="btn btn-default btn-sm" href="mailto:quinn@quinnsupplee.com" title="The 21st century fax machine"><span class="fa fa-envelope" aria-hidden="true"></i> <span class="hidden-xs">E-mail</span></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<span class="small"><span class="fa fa-code" aria-hidden="true"></span> I code in public: <a href="https://github.com/quinns/quinns.github.io" target="_blank">View source</a></span>
			</div>
			<div class="col-sm-6 copyright">
				<span class="small">&copy; {{ 'now' | date: "%Y" }} <a href="/">Quinn Supplee</a>. All rights reserved.</span>
			</div>

		</div>
	</div>
</footer>
