$linkcolor:  darken(#40B39D, 15%);
$activelinkcolor: #314D5D;
$heading_1: #E05A44;
$heading_2: #E57B37;

html{
	font-size: 16px;
}
a{
	color: $linkcolor;

}
a:hover,
a:focus{
	color: $activelinkcolor;
}

body{
	background-color: lighten(#F1CB3F, 37%);
	padding-top: 0;
	height: 100%;
// 	font-family: 'Muli', sans-serif;

	font-family: 'Noto Sans', sans-serif;

	color: #666;
}

header{
	margin-top: 1rem;
}
footer{
	margin-bottom: 1rem;
	.btn-group{
		margin-bottom: 1rem;
		.social-label{
			font-family: 'Noto Sans', sans-serif;
		}
	}
}
h1, h2, h3, h4, h5, h6{
// 	font-weight: 700;
}
h1{
	font-size: 3rem;
	color: $heading_1;
}
h1.front-title{
	margin-top: 0;
}
h2{
	color: $heading_2;
}
p{
	font-size: 1rem;
	line-height: 1.5rem;
}
.page-heading.posts{
	font-size: 1.5rem;
}


ul.front-page{
	list-style: none;
}


.lead{
	margin-bottom: 2em;
}
.post-meta{
	color: $heading_2;
	font-variant: small-caps;
}


.btn-primary{
	background-color: $linkcolor;
	border: none;
}
.btn-primary:hover{
	background-color: firebrick;
	border: none;
}

.site-title{
	font-size: 1.5rem;
	background-color: #666;
	color: #fff;
	border-radius: 10px;
	border: none;
}
.site-title:hover,
.site-title:focus{
	color: #fff;
	background-color: $linkcolor;
	border: none;
}

body.front{
	.site-title{
		display: none;
	}
	.main-content .btn-default{
		margin-top: 1rem;
	}
	header .selfie{
		display: none;
	}
}

.post-content a{
	font-weight: bold;
}
body.front .main-content a{
	font-weight: normal;
}


.nowrap{
	white-space: nowrap;
}

.main-content{
	margin-bottom: 2rem;
}

.services-links .link{
	padding-bottom: 1em;
}

.news{
	margin: 1em 0 1em 0;
}

.selfie{
	max-width: 100%;
	height: auto;
	display: none;
}
body.front .selfie{
	display: block;
}

header .selfie{
	max-width: 120px;
}
.front-header{
	margin-top: 1rem;
}

.modal-anchor{
	cursor: pointer;
}
.rss-subscribe a,
.back-to-posts{
	font-size: .5rem;
	margin: 1rem 0 1rem 0;
}

.post-list{
	 .post-link{
		font-size: 1.25rem;
	}
	.posts{
		margin-bottom: .5rem;
	}
	a{
		font-weight: normal;
	}
	li{
		margin-bottom: 1rem;
	}
}
.filed-under{
	margin-top: .5rem;
}

.threedeetext{
	@include threedeetext($heading_1);
// white-space: nowrap;
	font-family: "Patua One";
	margin: 0;

}
/*
.threedeetext:active, .threedeetext:hover{
		text-decoration: none;
	}
*/
body h1.threedeetext{
	font-size: rem;
}
body.front h1.threedeetext{
// 	font-size: 6rem;
	font-size: 12vw;

}

a.home:hover,
a.home:focus{
	text-decoration: none;
}

.selfie.not-front{
	margin-right: 1rem;
}